<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'blogs/css/main.css' %}" media="screen" title="no title" charset="utf-8">
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
</head>

<body>
    <h1>Users</h1>
    {%for user in all_users%}
        <p>id: {{user.id}}
        first: {{user.first_name}}
        last: {{user.last_name}}
        email: {{user.email}}
        created at: {{user.created_at}}
        actions: <a href="/users/{{user.id}}">Show</a><a href="/users/{{user.id}}/edit">Edit</a><a href="/users/{{user.id}}/destroy">Delete</a>
    </p>
    {%endfor%}


    <a href="/users/new">Add a new user</a>


</body>

</html>